atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes
vim/vim.symlink/undodir/**

git/gitconfig.symlink
*.log
vim/vim.symlink/undodir/**
