[submodule "vim/vim.symlink/bundle/emmet-vim"]
	path = vim/vim.symlink/bundle/emmet-vim
	url = http://www.github.com/mattn/emmet-vim
[submodule "vim/vim.symlink/bundle/haskell-vim"]
	path = vim/vim.symlink/bundle/haskell-vim
	url = https://github.com/raichoo/haskell-vim
[submodule "vim/vim.symlink/bundle/vim-bundler"]
	path = vim/vim.symlink/bundle/vim-bundler
	url = git@github.com:tpope/vim-bundler
[submodule "vim/vim.symlink/bundle/vim-fugitive"]
	path = vim/vim.symlink/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive
[submodule "vim/vim.symlink/bundle/vim-javascript"]
	path = vim/vim.symlink/bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript
[submodule "vim/vim.symlink/bundle/vim-rails"]
	path = vim/vim.symlink/bundle/vim-rails
	url = git@github.com:tpope/vim-rails
[submodule "vim/vim.symlink/bundle/vim-ruby"]
	path = vim/vim.symlink/bundle/vim-ruby
	url = git@github.com:vim-ruby/vim-ruby
[submodule "vim/vim.symlink/bundle/selecta.vim"]
	path = vim/vim.symlink/bundle/selecta.vim
	url = git@github.com:michaelavila/selecta.vim
[submodule "vim/vim.symlink/bundle/ghcmod-vim"]
	path = vim/vim.symlink/bundle/ghcmod-vim
	url = git@github.com:eagletmt/ghcmod-vim
[submodule "vim/vim.symlink/bundle/vimproc.vim"]
	path = vim/vim.symlink/bundle/vimproc.vim
	url = git@github.com:Shougo/vimproc.vim
[submodule "vim/vim.symlink/bundle/syntastic"]
	path = vim/vim.symlink/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/vim.symlink/bundle/vim-hdevtools"]
	path = vim/vim.symlink/bundle/vim-hdevtools
	url = https://github.com/bitc/vim-hdevtools
[submodule "vim/vim.symlink/bundle/vim-colorschemes"]
	path = vim/vim.symlink/bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes
[submodule "vim/vim.symlink/bundle/vim-airline"]
	path = vim/vim.symlink/bundle/vim-airline
	url = git@github.com:bling/vim-airline
