[submodule "vim/vim.symlink/bundle/emmet-vim"]
	path = vim/vim.symlink/bundle/emmet-vim
	url = http://www.github.com/mattn/emmet-vim
[submodule "vim/vim.symlink/bundle/vim-fugitive"]
	path = vim/vim.symlink/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive
[submodule "vim/vim.symlink/bundle/vim-javascript"]
	path = vim/vim.symlink/bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript
[submodule "vim/vim.symlink/bundle/vim-rails"]
	path = vim/vim.symlink/bundle/vim-rails
	url = git@github.com:tpope/vim-rails
[submodule "vim/vim.symlink/bundle/vim-ruby"]
	path = vim/vim.symlink/bundle/vim-ruby
	url = git@github.com:vim-ruby/vim-ruby
[submodule "vim/vim.symlink/bundle/selecta.vim"]
	path = vim/vim.symlink/bundle/selecta.vim
	url = git@github.com:michaelavila/selecta.vim
[submodule "vim/vim.symlink/bundle/syntastic"]
	path = vim/vim.symlink/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/vim.symlink/bundle/gruvbox"]
	path = vim/vim.symlink/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "vim/vim.symlink/bundle/vim2hs"]
	path = vim/vim.symlink/bundle/vim2hs
	url = git@github.com:dag/vim2hs
[submodule "vim/vim.symlink/bundle/vim-markdown"]
	path = vim/vim.symlink/bundle/vim-markdown
	url = git@github.com:tpope/vim-markdown
[submodule "vim/vim.symlink/bundle/vim-cpp-enhanced-highlight"]
	path = vim/vim.symlink/bundle/vim-cpp-enhanced-highlight
	url = git@github.com:octol/vim-cpp-enhanced-highlight
[submodule "vim/vim.symlink/bundle/purescript-vim"]
	path = vim/vim.symlink/bundle/purescript-vim
	url = git@github.com:parsonsmatt/purescript-vim
[submodule "vim/vim.symlink/bundle/vim-jsx"]
	path = vim/vim.symlink/bundle/vim-jsx
	url = git@github.com:mxw/vim-jsx
[submodule "vim/vim.symlink/bundle/vim-endwise"]
	path = vim/vim.symlink/bundle/vim-endwise
	url = git@github.com:tpope/vim-endwise
[submodule "vim/vim.symlink/bundle/incsearch.vim"]
	path = vim/vim.symlink/bundle/incsearch.vim
	url = git@github.com:haya14busa/incsearch.vim
[submodule "vim/vim.symlink/bundle/vim-surround"]
	path = vim/vim.symlink/bundle/vim-surround
	url = git@github.com:tpope/vim-surround
[submodule "vim/vim.symlink/bundle/vim-hdevtools"]
	path = vim/vim.symlink/bundle/vim-hdevtools
	url = git@github.com:bitc/vim-hdevtools

[submodule "vim/vim.symlink/bundle/vim-pandoc"]
	path = vim/vim.symlink/bundle/vim-pandoc
	url = git@github.com:vim-pandoc/vim-pandoc
[submodule "vim/vim.symlink/bundle/vim-pandoc-syntax"]
	path = vim/vim.symlink/bundle/vim-pandoc-syntax
	url = git@github.com:vim-pandoc/vim-pandoc-syntax
[submodule "vim/vim.symlink/bundle/vim-colors-solarized"]
	path = vim/vim.symlink/bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized
[submodule "vim/vim.symlink/bundle/vimproc"]
	path = vim/vim.symlink/bundle/vimproc
	url = git@github.com:shougo/vimproc
[submodule "haskell-vim"]
	path = vim/vim.symlink/bundle/haskell-vim
	url = git@github.com:neovimhaskell/haskell-vim
[submodule "neco-ghc"]
	path = vim/vim.symlink/bundle/neco-ghc
	url = git@github.com:eagletmt/neco-ghc
[submodule "vim/vim.symlink/bundle/elm.vim"]
	path = vim/vim.symlink/bundle/elm.vim
	url = git@github.com:lambdatoast/elm.vim
[submodule "ghcmod-vim"]
	path = vim/vim.symlink/bundle/ghcmod-vim
	url = git@github.com:int3/ghcmod-vim
[submodule "delimitMate"]
	path = vim/vim.symlink/bundle/delimitMate
	url = git@github.com:Raimondi/delimitMate
[submodule "vim/vim.symlink/bundle/idris-vim"]
	path = vim/vim.symlink/bundle/idris-vim
	url = git@github.com:idris-hackers/idris-vim
[submodule "vim/vim.symlink/bundle/javacomplete"]
	path = vim/vim.symlink/bundle/javacomplete
	url = git@github.com:adragomir/javacomplete
[submodule "vim/vim.symlink/bundle/vim-localvimrc"]
	path = vim/vim.symlink/bundle/vim-localvimrc
	url = https://github.com/embear/vim-localvimrc
[submodule "vim/vim.symlink/bundle/vim-syntax-shakespeare"]
	path = vim/vim.symlink/bundle/vim-syntax-shakespeare
	url = git@github.com:pbrisbin/vim-syntax-shakespeare
[submodule "vim/vim.symlink/bundle/vim-stylish-haskell"]
	path = vim/vim.symlink/bundle/vim-stylish-haskell
	url = git@github.com:nbouscal/vim-stylish-haskell
